<!DOCTYPE html>
<html>
  <head>
    <title>Delete Acount</title>
  </head>
  <body>
    <h2>Delete Acount</h2>
    <form action="/deleteaccount" method="post">
      <label for="password">Password:</label><br />
      <input type="password" id="password" name="password" required /><br />
      <input type="submit" value="Delete" />

      <input
        type="checkbox"
        id="alsodeltemessages"
        name="alsodeltemessages"
        value="True"
      />
      <label for="alsodeltemessages">
        Do you also want to delete your messages?</label
      ><br />
    </form>
  </body>
</html>
