<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>Hello, {{email}}</h1>

    
    <div id=""

    <div id="Main">

        <button onclick="window.location.href = '/deleteaccount';">delete account</button>
        <button onclick="window.location.href = '/changepassword';">change password</button>
        <button onclick="window.location.href = '/logout';">logout</button>

    </div>

    <br>

    <div id = messaging>

        <button onclick="window.location.href = '/Message';" , >Send Message</button>
        <button onclick="window.location.href = '/inbox';" , >inbox</button>

    </div>

    </body>
    </html>
    
</body>
</html>
