<!DOCTYPE html>
<html>
  <head>
    <title>Send Message</title>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        document
          .querySelector("form")
          .addEventListener("submit", function (event) {
            event.preventDefault(); // Prevent the form from submitting normally

            fetch("/Message", {
              method: "POST",
              body: new FormData(event.target), // event.target is the form
            })
              .then((response) => response.text())
              .then((data) => alert(data))
              .catch((error) => console.error("Error:", error));
          });
      });
    </script>
  </head>
  <body>
    <h2>Enter Details</h2>
    <form action="/Message" method="post">
      <label for="email">Targets Email:</label><br /><br />
      <input type="email" id="email" name="email" required /><br />
      <br /><br />
      <label for="text">Enter Your Message:</label><br /><br />
      <input type="text" id="Message" name="Message" /><br /><br />
      <input type="submit" value="Send" />
    </form>
  </body>
</html>
